.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 1%;
}

.news-item {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 50%;
}

.news-image {
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.news-title {
    margin-top: 2%;
    font-size: 2em;
}

.news-description {
    margin-top: 2%;
    line-height: 1.4;
}

.news-read-more p {
    margin-top: 1%;
}

.news-read-more p:hover {
    filter: brightness(0.8);
    transition: color 0.3s;
}

.news-date {
    margin-top: 3%;
}

.news-date a {
    font-weight: bold;
}

.news-date a:hover {
    filter: brightness(0.8);
    transition: color 0.3s;
}

p {
    text-align: justify;
}

.share-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 4%;
}

.share-buttons img {
    width: 36px;
}

.share-buttons img:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
}

.back-to-home-page {
    margin-top: 2%;
}

.back-to-home-page:hover {
    filter: brightness(0.8);
    transition: color 0.3s;
}

@media (max-width: 993px) {

    .container {
        width: 100%;
        margin: auto;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    .news-item {
        width: 100%;
        margin: auto;
    }
}