<div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search for..." (keyup)="performSearch()">
    <button (click)="performSearch()">Search</button>
</div>
<div class="news-container">
    <div *ngFor="let news of newsPage.news" class="news-item">
        <img class="news-image" (click)="showNewsDetails(news)" [src]="news.imageUrl" alt="News Image">
        <h2 class="news-title" (click)="showNewsDetails(news)">{{ news.title }}</h2>
        <p class="news-date">Posted on <a [href]="getAuthorLink(news.author)" target="_blank"
                [style.color]="getAuthorColor(news.author)">{{news.author}}</a> {{
            news.pubDate | dateAsAgo }}</p>
    </div>
</div>
<div class="paginator-container">
    <app-your-nintendo-news-paginator [currentPage]="currentPage" [totalPages]="newsPage.totalPages"
        (pageChange)="onPageChange($event)"></app-your-nintendo-news-paginator>
</div>