.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
    min-width: 768px;
}

.news-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 1%;
    width: 80%;
    max-width: 800px;
}

.news-image {
    max-width: 100%;
}

.news-title {
    font-size: 2em;
}

/* .news-description {
    margin-top: 10px;
} */

.read-more-link {
    display: block;
    margin-top: 1%;
}

.news-date {
    margin-top: 1%;
}

.news-paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    min-width: 768px;
}