<footer>
    <nav>
        <ul>
            <li>
                <a>
                    <img src="./assets/imgs/logo.png" alt="This logo is property of Nintendo Co., Ltd.">
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <h1>Your Gaming News</h1>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a routerLink="/terms" class="nav-link">Terms & Conditions</a></li>
            <li><a routerLink="/privacy" class="nav-link">Privacy Policy</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>This website is not affiliated with Microsoft, Nintendo or Sony.</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>© 2024 <a href="/">Your Gaming News</a>.</li>
        </ul>
    </nav>
</footer>