<footer>
    <nav>
        <ul>
            <li>
                <a>
                    <img src="./assets/imgs/logo.png" alt="Your Nintendo News logo">
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <h1>Your Nintendo News</h1>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>This website is not affiliated with Nintendo.</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>© 2024 David.</li>
        </ul>
    </nav>
</footer>