<div class="privacy-container">
    <article>
        <h1>Privacy Policy</h1>

        <p>This privacy policy explains how "Your Gaming News" uses and protects the information you provide when
            using our website. We are committed to protecting your privacy. Any information you provide that can
            identify you will be
            used in accordance with this privacy statement.</p>

        <h2>What we collect</h2>
        <p>We collect information about how often you visit our website, your device and other standard metrics through
            Google Analytics. If you send a contact message, we may collect your email address. We use this information
            to understand your needs and improve our services.</p>

        <h2>Security</h2>

        <p>We're committed to keeping your information secure. To prevent unauthorized access or disclosure, we've
            implemented physical, electronic, and managerial procedures to protect and secure the information we
            collect online.</p>

        <h2>Links to other websites</h2>

        <p>Our website may have links to other websites. Once you leave our site using these links, please be aware
            that we have no control over those other websites. We can't take responsibility for the protection and
            privacy of any information you provide on those sites. They operate under their own privacy statements,
            so use them cautiously.</p>

        <h2>How to contact us</h2>

        <p>If you have any questions or concerns about this Privacy Policy, please contact us by
            filling in our online <a href="/contact"><strong>contact</strong></a> form.</p>
    </article>
</div>