.disqus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 20px;
    width: 100%;
    min-width: 768px;
    max-width: 768px;
}