<div class="container">
    <div class="contact-container">
        <div>
            <h2>Got questions or suggestions?<br>Reach out to us using the form below!<br>We'll really appreciate!</h2>
        </div>
        <form [formGroup]="contactForm" id="contactForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="text" formControlName="author" id="author" placeholder="Your name" name="author"
                    [ngClass]="{'is-invalid':submitted && contactForm.get('author')?.errors, 'is-valid':contactForm.get('author')?.valid}"
                    required>
                <div *ngIf="contactForm.get('author')?.dirty && contactForm.get('author')?.hasError('required')"
                    class="invalid-feedback">Please
                    enter
                    your name!</div>
                <div *ngIf="contactForm.get('author')?.hasError('minlength')" class="invalid-feedback">The name
                    should be a least 4 characters!</div>
                <div *ngIf="contactForm.get('author')?.valid" class="valid-feedback">This name is valid!</div>
            </div>

            <div>
                <input type="email" formControlName="email" id="email" placeholder="Your email" name="email"
                    [ngClass]="{'is-invalid':submitted && contactForm.get('email')?.errors, 'is-valid':contactForm.get('email')?.valid}"
                    required>
                <div *ngIf="contactForm.get('email')?.dirty && contactForm.get('email')?.hasError('required')"
                    class="invalid-feedback">Please enter
                    your email!</div>
                <div *ngIf="contactForm.get('email')?.hasError('email')" class="invalid-feedback">This email is
                    invalid!
                </div>
                <div *ngIf="contactForm.get('email')?.valid" class="valid-feedback">This email is valid!</div>
            </div>

            <div>
                <textarea type="text" formControlName="content" id="content" placeholder="Your message" name="content"
                    [ngClass]="{'is-invalid':submitted && contactForm.get('content')?.errors, 'is-valid':contactForm.get('content')?.valid}"
                    rows="12" required></textarea>
                <div *ngIf="contactForm.get('content')?.dirty && contactForm.get('content')?.hasError('required')"
                    class="invalid-feedback">Please
                    enter your
                    message!</div>
                <div *ngIf="contactForm.get('content')?.hasError('minlength')" class="invalid-feedback">The
                    message
                    should be a least 4 characters!</div>
                <div *ngIf="contactForm.get('content')?.valid" class="valid-feedback">This message is valid!</div>
            </div>
            <div>
                <button type="submit" form="contactForm">Send</button>
            </div>
        </form>
    </div>
</div>
<app-modal *ngIf="showModal" [modalTitle]="'Contact'" [message]="modalMessage"
    (closeModal)="onCloseModal()"></app-modal>
<app-loader [loading]="loading"></app-loader>