<div class="contact-container">
    <div>
        <h2>Got questions or suggestions?<br>Reach out to us using the form below!<br>We'll really appreciate!</h2>
    </div>
    <form [formGroup]="contactForm" id="contactForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="text" formControlName="messageAuthor" id="messageAuthor" placeholder="Your name"
                name="messageAuthor"
                [ngClass]="{'is-invalid':submitted && contactForm.get('messageAuthor')?.errors, 'is-valid':contactForm.get('messageAuthor')?.valid}"
                required>
            <div *ngIf="contactForm.get('messageAuthor')?.dirty && contactForm.get('messageAuthor')?.hasError('required')"
                class="invalid-feedback">Please
                enter
                your name!</div>
            <div *ngIf="contactForm.get('messageAuthor')?.hasError('minlength')" class="invalid-feedback">The name
                should be a least 4 characters!</div>
            <div *ngIf="contactForm.get('messageAuthor')?.valid" class="valid-feedback">This name is valid!</div>
        </div>

        <div>
            <input type="email" formControlName="messageEmail" id="messageEmail" placeholder="Your email"
                name="messageEmail"
                [ngClass]="{'is-invalid':submitted && contactForm.get('messageEmail')?.errors, 'is-valid':contactForm.get('messageEmail')?.valid}"
                required>
            <div *ngIf="contactForm.get('messageEmail')?.dirty && contactForm.get('messageEmail')?.hasError('required')"
                class="invalid-feedback">Please enter
                your email!</div>
            <div *ngIf="contactForm.get('messageEmail')?.hasError('email')" class="invalid-feedback">This email is
                invalid!
            </div>
            <div *ngIf="contactForm.get('messageEmail')?.valid" class="valid-feedback">This email is valid!</div>
        </div>

        <div>
            <textarea type="text" formControlName="messageContent" id="messageContent" placeholder="Your message"
                name="messageContent"
                [ngClass]="{'is-invalid':submitted && contactForm.get('messageContent')?.errors, 'is-valid':contactForm.get('messageContent')?.valid}"
                rows="12" required></textarea>
            <div *ngIf="contactForm.get('messageContent')?.dirty && contactForm.get('messageContent')?.hasError('required')"
                class="invalid-feedback">Please
                enter your
                message!</div>
            <div *ngIf="contactForm.get('messageContent')?.hasError('minlength')" class="invalid-feedback">The
                message
                should be a least 4 characters!</div>
            <div *ngIf="contactForm.get('messageContent')?.valid" class="valid-feedback">This message is valid!</div>
        </div>
        <div>
            <button type="submit" form="contactForm">Send</button>
        </div>
    </form>
</div>