.container {
    width: 100%;
    margin: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2%;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    padding: 1%;
    gap: 1%;
}

.social-container svg {
    width: 30px;
    color: #333;
    transition: all 0.4s;
}

.social-container svg:hover {
    transform: translateY(-5px);
}

h2 {
    margin-bottom: 2%;
    padding: 0.4%;
    text-align: center;
    white-space: nowrap;
}

p {
    padding: 0.4%;
    text-align: center;
    line-height: 1.4;
}

img {
    margin: 2%;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 993px) {

    .about-container {
        width: 90%;
    }

    .social-container {
        width: 90%;
    }
}