<div class="news-container">
    <div class="news-item" *ngIf="newsDetails$ | async as newsDetails">
        <img class="news-image" *ngIf="newsDetails.imageUrl" [src]="newsDetails.imageUrl" alt="News Image">
        <h2 class="news-title">{{ newsDetails.title }}</h2>
        <p class="news-description" [innerHTML]="removeLastParagraph(newsDetails.description)"></p>
        <a class="news-read-more" [href]="newsDetails.link" target="_blank"
            [style.color]="getAuthorColor(newsDetails.author)">
            <p><strong>Continue reading on {{newsDetails.author}}</strong></p>
        </a>
        <p class="news-date">Posted on <a [href]="getAuthorLink(newsDetails.author)" target="_blank"
                [style.color]="getAuthorColor(newsDetails.author)">{{newsDetails.author}}</a> {{
            newsDetails.pubDate | dateAsAgo }}</p>
        <div class="share-buttons">
            <a [href]="getFacebookShareLink(newsDetails)" target="_blank" rel="noopener noreferrer"><img
                    src="./assets/imgs/facebook.png" alt="Facebook" title="Share on Facebook" /></a>
            <a [href]="getTwitterShareLink(newsDetails)" target="_blank" rel="noopener noreferrer"><img
                    src="./assets/imgs/twitter.png" alt="Twitter" title="Share on Twitter" /></a>
            <a [href]="getRedditShareLink(newsDetails)" target="_blank" rel="noopener noreferrer"><img
                    src="./assets/imgs/reddit.png" alt="Reddit" title="Share on Reddit" /></a>
            <a [href]="getWhatsAppShareLink(newsDetails)" target="_blank" rel="noopener noreferrer"><img
                    src="./assets/imgs/whatsapp.png" alt="WhatsApp" title="Share on WhatsApp" /></a>
        </div>
        <div class="back-to-home-page">
            <a routerLink="/" [style.color]="getAuthorColor(newsDetails.author)"><strong>Back to home page</strong></a>
        </div>
    </div>
</div>
<app-disqus></app-disqus>