<div class="news-container">
    <div class="news-item" *ngIf="newsDetails$ | async as newsDetails">
        <img class="news-image" *ngIf="newsDetails.imageUrl" [src]="newsDetails.imageUrl" alt="News Image">
        <h2 class="news-title">{{ newsDetails.title }}</h2>
        <p class="news-description" [innerHTML]="removeLastParagraph(newsDetails.description)"></p>
        <p class="news-date">Posted on <a [href]="getAuthorLink(newsDetails.author)" target="_blank"
                [style.color]="getAuthorColor(newsDetails.author)">{{newsDetails.author}}</a> {{
            newsDetails.pubDate | dateAsAgo }}</p>
        <button [style.background-color]="getAuthorColor(newsDetails.author)"><a [href]="newsDetails.link"
                target="_blank">Continue reading on {{newsDetails.author}}</a></button>
    </div>
</div>
<app-disqus></app-disqus>