<app-search (searchEvent)="performSearch($event)"></app-search>
<div *ngIf="newsPage.news.length === 0 && searchQuery.trim() !== ''" class="no-results-message">
    Sorry, but no results were found for your search. Please try using different keywords.
</div>
<div *ngIf="!loading">
    <div *ngIf="newsPage.news.length > 0">
        <div class="news-container">
            <div *ngFor="let news of newsPage.news" class="news-item">
                <img class="news-image" (click)="showNewsDetails(news)" [src]="news.imageUrl" alt="News Image">
                <h2 class="news-title" (click)="showNewsDetails(news)">{{ news.title }}</h2>
                <p class="news-date">Posted on <a [href]="getAuthorLink(news.source)" target="_blank"
                        [style.color]="getAuthorColor(news.source)">{{news.source}}</a> {{
                    news.pubDate | dateAsAgo }}</p>
            </div>
        </div>
        <div class="paginator-container">
            <app-paginator [currentPage]="currentPage" [totalPages]="newsPage.totalPages"
                (pageChange)="onPageChange($event)"></app-paginator>
        </div>
    </div>
</div>
<app-loader [loading]="loading"></app-loader>
<div *ngIf="apiError" class="no-news-message">
    Sorry, an error occurred while loading news. Please try again later.
</div>