* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    color: #333;
    background-color: #fff;
}

body.dark-mode {
    color: #fff;
    background-color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

body.dark-mode a {
    color: #fff;
}

body.dark-mode .pagination button {
    color: #fff;
    background-color: #444;
}

body.dark-mode input {
    color: #fff;
    background-color: #444;
}

body.dark-mode textarea {
    color: #fff;
    background-color: #444;
}

body.dark-mode svg path {
    fill: #fff;
}