<div class="terms-container">
    <article>
        <h1>Terms and conditions of use</h1>

        <p>Welcome to our website. By continuing to browse and use this site, you agree to comply with and be bound
            by the following terms and conditions, along with our <strong><a href="/privacy">privacy
                    policy</a></strong>. These terms govern Your Gaming News's relationship with you concerning this
            website.</p>

        <h2>Copyright</h2>

        <p><strong>RSS Feed Aggregation:</strong> Your Gaming News aggregates news content from various game
            sites through RSS feeds. The content displayed on the Website is sourced from third-party websites. Your
            Gaming News does not own or claim ownership of any of the aggregated content. <strong>Attribution:</strong>
            Your Gaming News will make reasonable efforts to provide proper
            attribution to the original sources of the aggregated content. Users are encouraged to visit the
            respective game sites to view the full content.</p>

        <h2>Disclaimer</h2>

        <p>The information on this website is for general purposes only. While we strive to keep it accurate and
            up-to-date, we make no guarantees about its completeness or suitability for any purpose. Your reliance
            on this information is at your own risk. We may provide links to other websites, but we don't control their
            content. Inclusion of links doesn't
            imply our endorsement. Although we aim to keep the website running smoothly, we aren't responsible for
            temporary unavailability
            due to technical issues beyond our control.</p>

        <h2>How to contact us</h2>

        <p>If you have any questions or concerns about these Terms and conditions of use, please contact us by
            filling in our online <a href="/contact"><strong>contact</strong></a> form.</p>
    </article>
</div>