.terms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;
    max-width: 40%;
    min-width: 768px;
}

h1 {
    padding: 0.4%;
    text-align: center;
}

h2 {
    padding: 0.4%;
    text-align: center;
}

p {
    padding: 0.4%;
    text-align: center;
    line-height: 1.4;
}