.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;
    max-width: 80%;
    min-width: 768px;
}

h2 {
    padding: 0.4%;
    text-align: center;
    white-space: nowrap;
}

input {
    padding: 2%;
    margin: 1%;
    font-size: 1rem;
    width: 600px;
    background-color: #f0f0f0;
    border: none;
}

input:focus {
    outline: none !important;
}

button {
    padding: 2%;
    margin: 1%;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d80108;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #b80108;
}

.valid-feedback {
    color: #28a808;
    padding: 1%;
}

.invalid-feedback {
    color: #d80108;
    padding: 1%;
}

.login-link {
    padding: 0.4%;
    font-weight: bold;
}