<header>
    <nav>
        <ul>
            <li>
                <a>
                    <img src="./assets/imgs/logo.png" alt="Your Nintendo News logo">
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <h1>Your Gaming News</h1>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <button (click)="toggleDarkMode()">
                    <img *ngIf="darkModeService.isDarkMode()" src="./assets/imgs/light-mode.png" alt="Dark Mode">
                    <img *ngIf="!darkModeService.isDarkMode()" src="./assets/imgs/dark-mode.png" alt="Light Mode">
                </button>
            </li>
        </ul>
    </nav>
</header>