<footer>
    <nav>
        <ul>
            <li>
                <a>
                    <img src="./assets/imgs/logo.png" alt="This logo is property of Nintendo Co., Ltd.">
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Your Gaming News</h1>
            </li>
        </ul>
        <ul>
            <li>This website is not affiliated with Microsoft, Nintendo or Sony.</li>
        </ul>
        <ul>
            <li>© 2024 <a routerLink="/">Your Gaming News</a>.</li>
        </ul>
    </nav>
</footer>