.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1%;
    max-width: 80%;
    min-width: 768px;
}

input {
    padding: 1%;
    font-size: 1rem;
    margin-right: 8px;
    width: 600px;
    background-color: #f0f0f0;
    border: none;
}

input:focus {
    outline: none !important;
}