.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.pagination button {
    padding: 8%;
    cursor: pointer;
    border: none;
    font-size: medium;
}

.pagination button.active {
    background-color: #d80108;
    color: #fff;
}

.pagination button.active:hover {
    background-color: #b80108;
}